
/*-------------   Color Variable  --------------*/

//Colors
	$white: #ffffff;
	$black: #16161a;
	$gray:#f7f7fd;

//Theme color
	$theme-color: #bbbbbb;
	$theme-color2: #1f2b7b;
	$theme-color3: #2074f2;
	$theme-color4: #ff3500;

// btn and Section color
	$btn_bg:#bbbbbb;

// Heading color
	$heading-color:#bbbbbb;
	$heading_color2: #080808;

	
// Body font color
	$font_color1: #000000;
	$border_color: #fdcb9e;

// Body Font
	$body-text-color: #646D77;
	$hr-border-color:#eceff8;



// Section Bg variable
	$section_bg1: 13151a;
	$section_bg2: #bbbbbb;

// bg calss
	.section-bg1{
		background:$section_bg1;
	}
	.section-bg2{
		background:$section_bg2;
	}
	
	$brand-bg: #f1f4fa;
	$testimonial-bg:#f9fafc;


.white-bg{
	background: #ffffff;
}
.gray-bg{
	background: #f5f5f5;
}

	$gray-color: #bebebe;
	$gray-color-2: #bdbdbd;








/*-------------Color include--------------*/


/*-- Background color---*/

.gray-bg {
	background: $gray;
}
.white-bg {
	background:$white;
}
.black-bg {
	background: $black;
}
.theme-bg {
	background:$theme-color;
}
.brand-bg{
	background: $brand-bg;
}
.testimonial-bg{
	background: $testimonial-bg;
}


/*--- color------*/
.white-color {
	color: $white;
}
.black-color {
	color: $black;
}
.theme-color {
	color: $theme-color;
}