body::-webkit-scrollbar{
    width: 0px;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none !important;
}

.offcanvas{
    box-shadow: rgba(109, 109, 109, 0.659) -1px -1px 10px;
    background-color: black !important;
    color: grey !important;
}


.btn-close{
    --bs-btn-close-bg: url("x") !important;
    color: grey !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #000000;
    outline: 2px solid rgb(131, 131, 131);
    padding: 20px;
    text-align: center;
    width: 50%;
    max-width: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-content h1 {
    margin: 0 0 10px;
    font-size: 2.5rem;
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
