name: Build and deploy Laravel app to Azure Web App - laravel-vite

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, bcmath, xml, curl, pdo_mysql, openssl

      - name: Install PHP dependencies
        run: |
          composer install --no-dev --prefer-dist --optimize-autoloader
          cp .env.example .env
          php artisan key:generate

      - name: Criar pastas necessárias e permissões
        run: |
          mkdir -p storage/framework/cache storage/framework/sessions storage/framework/views storage/logs bootstrap/cache
          chmod -R 775 storage bootstrap/cache

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install frontend dependencies
        run: npm install

      - name: Build frontend assets
        run: npm run build

      - name: Compactar projeto para deploy
        run: |
          mkdir package
          zip -r package/laravel.zip . -x "node_modules/*" "tests/*"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: laravel-artifact
          path: package/laravel.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: laravel-artifact
          path: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'laravel-vite'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_26BE185492474379906D58CCBA75E72B }}
          package: laravel.zip
